<header>
  <div class="wrap">
    <a href="/" class="logo">Mange <span class="accent">Ça</span></a>
    <nav>
      <a href="/">Recipes</a>
      <a href="/#about">About</a>
    </nav>
  </div>
</header>
